<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <!-- <p>bajada</p> -->
            <h1>Elixir cervesería</h1>
            <p>Te invitamos a sumergirte en un viaje de sabores y experiencias únicas, donde la cerveza se convierte en una verdadera obra de arte líquida.</p>
        </div>
    </div>
    <!-- inicio novedades y testimonios -->
    <div class="row my-3">

        <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img
                            src="{{imagen}}" alt="{{titulo}}">{{titulo}}</a></li>
                {{/each}}
            </ul>
        </div>
        <!-- inicio novedades -->
        <!-- Modal -->
        {{#each novedades}}
        <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{imagen}}" alt="{{titulo}}">
                        <h4>{{subtitulo}}</h4>
                        <p>{{cuerpo}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- fin modal -->
        <!--inicio testimonio carousel -->
        <div class="col-md-3 my-3 testimonios-caja">
            <div id="carouselExampleCaptions" class="carousel slide testimonios">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active testimonio">
                        <h5>Testimonio</h5>
                        <p>La mejor birra del mundo!</p>
                        <p>Fabricio Rocca.</p>
                    </div>
                    <div class="carousel-item testimonio">
                        <h5>Testimonio</h5>
                        <p>La mejor birra del mundo 2!</p>
                        <p>Aleberto Montt.</p>
                    </div>
                    <div class="carousel-item testimonio">
                        <h5>Testimonio</h5>
                        <p>Excelente cerveza!</p>
                        <p>Silvina Ravera.</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> <!-- cierra testimonio carousel-->
    </div> <!-- cierra la fila de novedades y testimonio carousel-->
    <!-- inicio historia -->
    <div id="historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p> "En el corazón de nuestra cervecería artesanal, nació una pasión inquebrantable por la cerveza. Desde modestos comienzos caseros, evolucionamos hasta convertirnos en un oasis cervecero, ofreciendo autenticidad y calidad en cada sorbo. ¡Únete a nuestra historia cervecera!"</p>
        </div>
    </div> <!-- cierre historia-->
    <!-- inicio staff nosotros -->
    <div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <!-- modulo a reteir-->
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros01.jpg" class="card-img-top" alt="Rose Cats">
                        <div class="card-body">
                            <h5 class="card-title">Alejandra Torres</h5>
                            <p>Soy Alejandra Torres. Como Beer Sommelier, mi misión es llevarlos en un viaje de descubrimiento cervecero que despierte sus sentidos y desafíe sus paladares. Estoy aquí para crear una experiencia que se adapte a tus gustos y deseos.</p>
                        </div>
                    </div>
                </div> <!-- fin de modulo a reteir-->
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros02.jpg" class="card-img-top" alt="Rick Ash">
                        <div class="card-body">
                            <h5 class="card-title">Javier Ravis</h5>
                            <p>Beer Sommelier certificado con años de experiencia en el apasionante mundo de la cerveza artesanal. Mi objetivo es explorar, educar y deleitar a los amantes de la cerveza, guiándolos en un viaje de descubrimiento de sabores, aromas y cultura cervecera.</p>
                         
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros03.jpg" class="card-img-top" alt="Tom Reave">
                        <div class="card-body">
                            <h5 class="card-title">Lucas Terrano</h5>
                            <p>Soy Lucas, un apasionado bartender con una sed insaciable por la creatividad y la excelencia en cada bebida que sirvo. Mi objetivo es brindarte una experiencia única, llena de sabores sorprendentes y momentos inolvidables.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros04.jpg" class="card-img-top" alt="Adam Sulivan">
                        <div class="card-body">
                            <h5 class="card-title">Alex Sulivan</h5>
                            <p>Soy Alex, un apasionado bartender y especialista en cervezas artesanales. Mi misión es sumergirte en el fascinante mundo de los sabores y la artesanía cervecera, brindándote una experiencia única y memorable en cada vaso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- fin div nosotros -->
</div> <!-- cierro container fluid -->
<!-- inicio conocenos-->
<div id="conocenos" class="row py-4 scroll_section">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <!-- inicio mapa-->
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412.8272549990836!2d-58.406502739987744!3d-34.58223630933918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb57d27fc553d%3A0x2c170b14e6694c5f!2sBulnes%202587%2C%20C1425DKS%20CABA!5e0!3m2!1ses!2sar!4v1686753438419!5m2!1ses!2sar"></iframe>
        </div>
        <!-- fin  mapa-->
    </div>
    <!-- inicio formulario -->
    <div class="col-md-4 mt-4 mt-sm-0 scroll_section">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com">
            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <p>{{ message }}</p>
    </div>
    <!-- fin formulario -->
</div><!-- cierra div con id conocenos-->